<!-- start: background-container -->
<div class="flex items-center justify-center h-screen bg-zinc-700">
  <!-- start: card -->
  <div class="bg-zinc-800 rounded-2xl p-3">
    <div class="flex flex-col md:flex-row rounded-l-2xl">
      <!-- start:image -->
      <img
        src="../assets/images/image.jpg"
        alt=""
        class="rounded-xl h-80 md:h-64 md:rounded-l-xl md:rounded-r-none transform hover:scale-105 hover:rounded-xl duration-200"
      />
      <!-- end:image -->
      <!-- start:content -->
      <div class="p-6 md:p-12">
        <h2
          class="font-serif text-white text-xl font-medium text-center md:text-left"
        >
          Get diet and fitness tips in your inbox
        </h2>
        <p
          class="max-w-xs text-white text-xs leading-5 tracking-wide text-center md:text-left my-4"
        >
          Eat better and exercise better. Sign up for the Diet and Fitness
          newsletter
        </p>
        <div
          class="flex flex-col mt-5 space-y-4 md:space-x-3 md:flex-row md:space-y-0"
        >
          <input
            type="text"
            placeholder="Enter your email address"
            class="p-2 text-center rounded-md bg-zinc-800 border border-zinc-600 placeholder:text-xs placeholder:text-center md:text-left placeholder:md:text-left focus:outline-none"
          />
          <button
            class="bg-green-500 px-5 py-3 text-xs rounded-md text-zinc-800 hover:bg-lime-700 hover:text-white duration-500"
          >
            Subscribe
          </button>
        </div>
      </div>
      <!-- end:content -->
    </div>
  </div>
  <!-- end: card -->
</div>
<!-- end: background-container -->
